# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Publishing

on:
  push:
    branches:
      - master
      - '*-rc'
  workflow_dispatch:
    inputs:
      machine:
        description: 'Machine to run on'     
        required: true
        default: 'macos-latest'

jobs:
  publish:
    env:
      LIBCLANG_DISABLE_CRASH_RECOVERY: 1
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 14
      uses: actions/setup-java@v1
      with:
        java-version: 14
    - uses: eskatos/gradle-command-action@v1
      with:
        arguments: publish -Pbinom.repo.url=${{ secrets.BINOM_REPO_URL }} -Pbinom.repo.user=${{ secrets.BINOM_REPO_USER }} -Pbinom.repo.password=${{ secrets.BINOM_REPO_PASSWORD }}
